/*
Project Name: Relaxr website
Client: Relaxr
Author: Dolores Figueroa
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    font-family: Helvetica;
    margin: 0 auto;
    width: 960px;
}

/*style for header*/
#page-header {
  background: #033048;
  overflow: hidden;
  position: relative;
  display: table;
  width: 100%;
/*  border: 1px solid red;*/
}

#page-header h1 {
  float: left;
  color: white;
  font-family: Helvetica;
  /*margin: 20px 0 0 60px;*/
  font-weight: 800;
  font-size: 30px;
  font-style: Extra bold;
  padding-bottom: 20px;
}

#page-header nav {
/*  float: right;*/
/*  border: 1px solid pink;*/
  display: table-cell;
  vertical-align: middle;
}

#page-header a {
  color: inherit;
  text-decoration: none;
}

#page-header ul {
/*  border: 1px solid white;*/
/*  height: 50px;*/
  display: table-cell;
  vertical-align: middle;

}

#page-header nav li {
  float: left;
/*  border: 1px solid green;*/
  color: #f9e42e;
  font-family: Helvetica;
  font-style: Semibold;
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
}

#page-header nav a {
  display: block;
  padding: 0 15px 0 0;
}

#page-header nav li a:hover {
  color: white;
}

#page-header nav li.active a {
  background: #666;
}

/*style for grey section under header*/
#grey {
  background-color: #f0efef;
  padding: 20px 0 20px 0;
}

/*style for blog entries*/
.blog {
  float: left;
  width: 680px;
  margin: 0 20px 0 60px;
}

h3 {
  font-size: 25px;
  color: #34495e;
}

article {
  padding: 20px 0 20px 0;
}

article a {
  color: #34495e;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: block; /*changed the <a> default inline-display to "block" in order to rigth-align*/
  text-align: right;
}

article p {
  font-size: 18px;
  font-style: light;
  color: #606161;
  padding: 10px 0 10px 0;
}

article img {
  padding: 10px 0 0 0;
  width: 680px;
}

/*style for right hand nav*/
.sidebar {
  width: 190px;
  float: right;
  padding: 0 60px 0 0;
}

.sidebar a {
  color: #34495e;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
}

.sidebar p {
  color: #34495e;
  font-size: 16px;
  font-weight: 200;
  line-height: 1;
}

#cta {
  font-weight: bold;
  color: #34495e;
}

.side-section {
 margin: 20px 0 0 0;
}

#ad {
  background-color: white;
  color: #34495e;
  height: 250px;
  text-align: center;
  margin: 20px 0 0 0;
}

h4 {
  font-size: 24px;
  font-weight: 900;
  color: #34495e;
}

/*style for bottom section under blog entries*/
.cta {
  padding: 5px 20px;
  display: inline-block;
  margin: 0 auto;
  color: black;
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  border-radius: 5px;
  background-color: #033048;
  color: #FFF;
}

.container.yellow {
  background-color: #f9e42e;
  margin: 0;
  padding: 10px 0 10px 0;
  text-align: center; /*this centers all the elements in the container*/
}

.container.black {
  background-color: #121212;
  margin: 0;
  text-align: center;
}

.container.black p {
  font-style: extra bold;
  font-size: 24px;
  color: #f9e42e;
  padding: 10px 0 10px 0;
}

.container #social {
  padding: 10px;
}

/*adding space in bewtween social icons*/
.container #social img {
  padding: 10px;
}

.container #footer {
  font-style: semi bold;
  font-size: 9px;
  color: white;
  padding: 10px 0 10px 0;
}





