
body {
	width: 614px;
	margin: 0 auto; /*0 is top and bottom, auto adjusts with width of browser*/
}

/*header {
	height: 100px;
	width: 198px;
	margin: 0 10px 0 0;
}*/

#header {
	padding-top: 10px;
}

nav {
	float: right;
	height: 50px;
	width: 80px;
/*	margin: 0 10px 0 0; -->not needed anymore after I used #nav to vertcally align nav*/
}

#leftheader {
	float: left;
	height: 100px;
	width: 198px;
}

.nav {
	margin: 25px 10px 25px 0; /*is there a better way to align vetically?*/
}

sidebar {
	float: left;
	height: 420px;
	width: 170px;
	margin: 10px 0 10px 0;
}

/*section {
	float: left;
	height: 100px;
	width: 454px;
	margin: 10px;
}*/

#topsection {
	float: right;
	height: 100px;
	width: 430px;
	margin: 10px 0 0 10px;
}

#sidesection {
	float: right;
	height: 200px;
	width: 100px;
	margin: 10px 0 10px 10px;
}

#middlesection {
	float: right;
	height: 200px;
	width: 320px;
	margin: 10px 0 10px 0;
}


article {
	float: right;
	height: 100px;
	width: 100px;
	margin: 0 0 0 10px;
}

#center {
	margin: 10px 10px 0 10px;	
}

footer {
	height: 100px;
	margin: 10px 0;
}